.widgetSm{
    flex: 1;
    -webkit-box-shadow: 14px 13px 19px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 14px 13px 19px 0px rgba(0,0,0,0.75);
    box-shadow: 14px 13px 19px 0px rgba(0,0,0,0.75);
    padding: 20px;
    margin-right: 20px;
    
}
.widgetSmImg{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    object-fit: cover;
}

.widgetSmTitle{
    font-size: 32px;
    font-weight: 600;
}
.widgetSmList{
    padding: 0;
    margin: 0%;
    list-style: none;
}

.widgetSmListItem{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0px;
}

.widgetSmUser{
    display: flex;
   flex-direction: column;
}

.widgetSmUsername{
    font-weight: 600;
}

.widgetSmUserTitle{
    font-weight: 300;
}

.widgetSmButto{
    display: flex;
    align-items: center;
    border: none;
    border-radius: 10px;
    padding: 7px 10px;
    background-color: grey;
    color: white;
    cursor: pointer;
}


.widgetSmIcon{
 font-size: 16px !important ;
 margin: 5px;
}
